<section id='starter-guide'>
	<p>The color schemas below are suggestions for graphics. Feel free to be more creative when designing stand-along projects. </p>
    <p class='x-large'><strong>Font</strong></p>
    <p>We usually use "benton-sans-regular" for the main article to keep our style consistant with NJ.com articles. But you can get creative when styling the headline. </p>
    <p>For the main article, we use "medium" for large screen: <br/> "font-size: 18px; line-height: 1.65; margin: 1.5rem 0;". </p>
    <p>We use "root" for mobile: <br/> "font-size: 16px; line-height: 1.65; margin: 1.5rem 0;" </p>
    <p>Check out <strong>variables.styl</strong> for these definitions below. Check out <strong>guide.hbs</strong> to see how to use them.</p>
	<p class='xxx-small'>class "xxx-small" {{{meta.lorem}}}</p>
	<p class='xx-small'>class "xx-small" (font-size: 11px){{{meta.lorem}}}</p>
	<p class='x-small'>class "x-small" (font-size: 12px) {{{meta.lorem}}}</p>
	<p class='small'>class "small" (font-size: 14px){{{meta.lorem}}}</p>
	<p class='root'>class "root" (font-size: 16px) {{{meta.lorem}}}</p>
	<p class='medium'>class "medium" (font-size: 18px) {{{meta.lorem}}}</p>
	<p class='large'>class "large" (font-size: 20px) {{{meta.lorem}}}</p>
	<p class='x-large'>class "x-large" (font-size: 24px) {{{meta.lorem}}}</p>
	<p class='xx-large'>class "xx-large" (font-size: 32px) {{{meta.lorem}}}</p>
	<p class='xxx-large'>class "xxx-large" (font-size: 40px) {{{meta.lorem}}}</p>
	<p class='xxxx-large'>class "xxxx-large" (font-size: 48px) {{{meta.lorem}}}</p>
    <p class='xxxxx-large'>class "xxxxx-large" (font-size: 64px) {{{meta.lorem}}}</p>

    <p class='x-large'><strong>Color: </strong></p>
    <p class='root'>The colors below are presets for the starter-template.
        As the template uses <a href="http://stylus-lang.com/" target="_blank">Stylus</a> for css, I set a few build-in variables for easy access.
        The greenish color <span style="background-color: #BAD131">#BAD131</span> is nj.com brand color. So we try to invite a similar green into our color schemes.
    </p>
    <div class='root'><div class="nj_red colorBlock"></div> $red #D30E14</div>
    <div class='root'><div class="nj_blue colorBlock"></div> $blue #307FE2</div>
    <div class='root'><div class="nj_orange colorBlock"></div> $orange #FF9D00</div>
    <div class='root'><div class="nj_green colorBlock"></div> $green #BAD131</div>
    <div class='root'><div class="nj_gray colorBlock"></div> $njam-gray #4E4D4D</div>
    <p>Approximate colors that you can choose:</p>

    <div class='root'>
        <div class="colorBlock" style="background-color: #E36569"></div><p class="color__p">#E36569</p>
        <div class="colorBlock" style="background-color: #DF4F54"></div><p class="color__p">#DF4F54</p>
        <div class="colorBlock" style="background-color: #AD0C11"></div><p class="color__p">#AD0C11</p>
    </div>
    <div class='root'>
        <div class="colorBlock" style="background-color: #7BADEC"></div><p class="color__p">#7BADEC</p>
        <div class="colorBlock" style="background-color: #68A1E9"></div><p class="color__p">#68A1E9</p>
        <div class="colorBlock" style="background-color: #2868B9"></div><p class="color__p">#2868B9</p>
    </div>
    <div class='root'>
        <div class="colorBlock" style="background-color: #FFC05C"></div><p class="color__p">#FFC05C</p>
        <div class="colorBlock" style="background-color: #FFAE2E"></div><p class="color__p">#FFAE2E</p>
        <div class="colorBlock" style="background-color: #D18100"></div><p class="color__p">#D18100</p>
    </div>
    <div class='root'>
        <div class="colorBlock" style="background-color: #D3E17B"></div><p class="color__p">#D3E17B</p>
        <div class="colorBlock" style="background-color: #CCDD69"></div><p class="color__p">#CCDD69</p>
        <div class="colorBlock" style="background-color: #99AC29"></div><p class="color__p">#99AC29</p>
    </div>
    <div class='root'>
        <div class="colorBlock" style="background-color: #8E8D8D"></div><p class="color__p">#8E8D8D</p>
        <div class="colorBlock" style="background-color: #7E7D7D"></div><p class="color__p">#7E7D7D</p>
        <div class="colorBlock" style="background-color: #404040"></div><p class="color__p">#404040</p>
    </div>

    <p class='root'><a href="https://coolors.co/d30e14-4e4d4d-307fe2-ff9d00-bad131" target="_blank">Check out more colors here.</a></p>

    <p class='x-large'><strong>Some color schemes we liked: </strong> {{{meta.lorem}}}</p>
    <div class='root'><div class="graphic-green-dark colorBlock"></div> $graphic-green-dark #498467</div>
    <div class='root'><div class="graphic-green colorBlock"></div> $graphic-green #52b788</div>
    <div class='root'><div class="graphic-green-light colorBlock"></div> $graphic-green-light #b2d3a8</div>
    <div class='root'><div class="graphic-yellow colorBlock"></div> $graphic-yellow #efe683</div>
    <div class='root'><div class="graphic-orange colorBlock"></div> $graphic-orange #ffd191</div>
    <p class='root'><a href="https://projects.susielu.com/viz-palette?colors=[%22#4e4d4d%22,%22#498467%22,%22#52b788%22,%22#b2d3a8%22,%22#efe683%22,%22#ffd191%22]&backgroundColor=%22white%22&fontColor=%22black%22&mode=%22normal%22" target="_blank">Check out more colors here.</a></p>

    <p class='root'><strong>Graphics colors for election </strong> {{{meta.lorem}}}</p>
    <div class='root'><div class="graphic-blue-political colorBlock"></div> $graphic-blue-political #113791</div>
    <div class='root'><div class="graphic-green-political colorBlock"></div> $graphic-green #B9CF41</div>
    <div class='root'><div class="graphic-red-political colorBlock"></div> $graphic-red-political #b71010</div>
    <p class='root'><a href="https://www.nj.com/essex/2018/11/nj_live_general_election_results_2018_essex_county.html" target="_blank">Check out some usage here.</a></p>
    {{>base/graphicGuide}}
</section>
