<section id='starter-guide'>
	<p>Check out <strong>variables.styl</strong> for these definitions.</p>
	<p class='xxx-small'><strong>class "xxx-small" (10px)</strong> {{{meta.lorem}}}</p>
	<p class='xx-small'><strong>class "xx-small" (11px)</strong> {{{meta.lorem}}}</p>
	<p class='x-small'><strong>class "x-small" (12px)</strong> {{{meta.lorem}}}</p>
	<p class='small'><strong>class "small" (14px)</strong> {{{meta.lorem}}}</p>
	<p class='root'><strong>class "root" (16px)</strong> {{{meta.lorem}}}</p>
	<p class='medium'><strong>class "medium" (18px)</strong> {{{meta.lorem}}}</p>
	<p class='large'><strong>class "large" (20px)</strong> {{{meta.lorem}}}</p>
	<p class='x-large'><strong>class "x-large" (24px)</strong> {{{meta.lorem}}}</p>
	<p class='xx-large'><strong>class "xx-large" (32px)</strong> {{{meta.lorem}}}</p>
	<p class='xxx-large'><strong>class "xxx-large" (40px)</strong> {{{meta.lorem}}}</p>
	<p class='xxxx-large'><strong>class "xxxx-large" (48px)</strong> {{{meta.lorem}}}</p>
    <p class='xxxxx-large'><strong>class "xxxxx-large" (64px)</strong> {{{meta.lorem}}}</p>
    <p class='x-large'><strong>Color: </strong> {{{meta.lorem}}}</p>
    <div class='root'><div class="nj_red colorBlock"></div> $red #D30E14</div>
    <div class='root'><div class="nj_blue colorBlock"></div> $blue #307FE2</div>
    <div class='root'><div class="nj_orange colorBlock"></div> $orange #FF9D00</div>
    <div class='root'><div class="nj_green colorBlock"></div> $green #BAD131</div>
    <div class='root'><div class="nj_gray colorBlock"></div> $gray #4E4D4D</div>
    <p class='root'><a href="https://coolors.co/d30e14-345995-307fe2-ff9d00-bad131" target="_blank">Check out more color here.</a></p>

</section>
