<section id='starter-guide'>
	<p>Check out <strong>variables.styl</strong> for these definitions below. Check out <strong>guide.hbs</strong> to see how to use them.</p>
	<p class='xxx-small'><strong>class "xxx-small" (10px)</strong> {{{meta.lorem}}}</p>
	<p class='xx-small'><strong>class "xx-small" (11px)</strong> {{{meta.lorem}}}</p>
	<p class='x-small'><strong>class "x-small" (12px)</strong> {{{meta.lorem}}}</p>
	<p class='small'><strong>class "small" (14px)</strong> {{{meta.lorem}}}</p>
	<p class='root'><strong>class "root" (16px)</strong> {{{meta.lorem}}}</p>
	<p class='medium'><strong>class "medium" (18px)</strong> {{{meta.lorem}}}</p>
	<p class='large'><strong>class "large" (20px)</strong> {{{meta.lorem}}}</p>
	<p class='x-large'><strong>class "x-large" (24px)</strong> {{{meta.lorem}}}</p>
	<p class='xx-large'><strong>class "xx-large" (32px)</strong> {{{meta.lorem}}}</p>
	<p class='xxx-large'><strong>class "xxx-large" (40px)</strong> {{{meta.lorem}}}</p>
	<p class='xxxx-large'><strong>class "xxxx-large" (48px)</strong> {{{meta.lorem}}}</p>
    <p class='xxxxx-large'><strong>class "xxxxx-large" (64px)</strong> {{{meta.lorem}}}</p>

    <p class='root'>The colors below are presets for the starter-template. As the template uses <a href="http://stylus-lang.com/" target="_blank">Stylus</a> for css, I set a few build-in variables for easy access.</p>
    <p class='x-large'><strong>Color: </strong> {{{meta.lorem}}}</p>
    <div class='root'><div class="nj_red colorBlock"></div> $red #D30E14</div>
    <div class='root'><div class="nj_blue colorBlock"></div> $blue #307FE2</div>
    <div class='root'><div class="nj_orange colorBlock"></div> $orange #FF9D00</div>
    <div class='root'><div class="nj_green colorBlock"></div> $green #BAD131</div>
    <div class='root'><div class="nj_gray colorBlock"></div> $gray #4E4D4D</div>
    <p class='root'><a href="https://coolors.co/d30e14-345995-307fe2-ff9d00-bad131" target="_blank">Check out more color here.</a></p>

    <p class='x-large'><strong>Graphic colors: </strong> {{{meta.lorem}}}</p>
    <div class='root'><div class="nj_gray colorBlock"></div> $gray #4e4d4d</div>
    <div class='root'><div class="graphic-green-dark colorBlock"></div> $graphic-green-dark #498467</div>
    <div class='root'><div class="graphic-green colorBlock"></div> $graphic-green #52b788</div>
    <div class='root'><div class="graphic-green-light colorBlock"></div> $graphic-green-light #b2d3a8</div>
    <div class='root'><div class="graphic-yellow colorBlock"></div> $graphic-yellow #efe683</div>
    <div class='root'><div class="graphic-orange colorBlock"></div> $graphic-orange #ffd191</div>

    <p class='root'><a href="https://projects.susielu.com/viz-palette?colors=[%22#4e4d4d%22,%22#498467%22,%22#52b788%22,%22#b2d3a8%22,%22#efe683%22,%22#ffd191%22]&backgroundColor=%22white%22&fontColor=%22black%22&mode=%22normal%22" target="_blank">Check out more color here.</a></p>

</section>
